In [1]:
import pandas as pd

In [2]:
class NAICSCode:

    def __init__(self):
        self.children = []

    def __repr__(self):
        return f"NAICSCode({self.code})"

    def get_children(self):
        return self.children
    
    @classmethod
    def load(cls, row):
        naics = cls()
        
        naics.code = row['Code']
        naics.level = row['Level']
        naics.hierarchical_structure = row['Hierarchical structure']
        naics.class_title = row['Class title']
        naics.superscript = row['Superscript']
        nasics.class_definition = row['Class definition']
        
        return nasics

In [3]:
with open('NAICS-SCIAN-2012-Structure-eng.csv', 'rt', encoding='latin-1') as csv_fobj:
    df = pd.read_csv(csv_fobj)

df.head()

,Level,Hierarchical structure,Code,Class title,Superscript,Class definition
0,1,Sector,11,"Agriculture, forestry, fishing and hunting",NaN,This sector comprises establishments primarily...
1,2,Subsector,111,Crop production,NaN,"This subsector comprises establishments, such ..."
2,3,Industry group,1111,Oilseed and grain farming,NaN,This industry group comprises establishments p...
3,4,Industry,11111,Soybean farming,NaN,This industry comprises establishments primari...
4,5,Canadian industry,111110,Soybean farming,NaN,This Canadian industry comprises establishment...

In [19]:
def get_parent(row):
    if row["Level"] == 1:
        continue
    
    if row["Level"] == 2:
        


df.apply(get_parent, axis=1)

TypeError: apply() missing 1 required positional argument: 'func'

In [18]:
df[df['Level'] == 6].empty

True

In [12]:
df['Code'].str.len().sort_values()

0       2
1602    2
1685    2
796     2
1365    2
       ..
931     6
928     6
926     6
943     6
2077    6
Name: Code, Length: 2078, dtype: int64

In [8]:
df['Hierarchical structure'].unique()

array(['Sector', 'Subsector', 'Industry group', 'Industry',
       'Canadian industry'], dtype=object)

In [4]:
for row in df.iterrows():
    print(NAICSCode.load(row.values()))

AttributeError: 'tuple' object has no attribute 'values'

In [5]:
df[df["Level"] == 1].head()

,Level,Hierarchical structure,Code,Class title,Superscript,Class definition
0,1,Sector,11,"Agriculture, forestry, fishing and hunting",NaN,This sector comprises establishments primarily...
116,1,Sector,21,"Mining, quarrying, and oil and gas extraction",NaN,This sector comprises establishments primarily...
164,1,Sector,22,Utilities,NaN,This sector comprises establishments primarily...
185,1,Sector,23,Construction,NaN,This sector comprises establishments primarily...
256,1,Sector,31-33,Manufacturing,NaN,This sector comprises establishments primarily...

In [6]:
df[(df["Level"] == 2) & (df["Code"].str.startswith("11"))]

,Level,Hierarchical structure,Code,Class title,Superscript,Class definition
1,2,Subsector,111,Crop production,NaN,"This subsector comprises establishments, such ..."
48,2,Subsector,112,Animal production and aquaculture,NaN,"This subsector comprises establishments, such ..."
87,2,Subsector,113,Forestry and logging,NaN,This subsector comprises establishments primar...
98,2,Subsector,114,"Fishing, hunting and trapping",NaN,This subsector comprises establishments primar...
106,2,Subsector,115,Support activities for agriculture and forestry,NaN,This subsector comprises establishments primar...

In [7]:
df[(df["Level"] == 3) & (df["Code"].str.startswith("111"))]

,Level,Hierarchical structure,Code,Class title,Superscript,Class definition
2,3,Industry group,1111,Oilseed and grain farming,NaN,This industry group comprises establishments p...
17,3,Industry group,1112,Vegetable and melon farming,NaN,This industry group comprises establishments p...
21,3,Industry group,1113,Fruit and tree nut farming,NaN,This industry group comprises establishments p...
28,3,Industry group,1114,"Greenhouse, nursery and floriculture production",NaN,This industry group comprises establishments p...
35,3,Industry group,1119,Other crop farming,NaN,"This industry group comprises establishments, ..."

In [8]:
df[(df["Level"] == 4) & (df["Code"].str.startswith("1111"))]

,Level,Hierarchical structure,Code,Class title,Superscript,Class definition
3,4,Industry,11111,Soybean farming,NaN,This industry comprises establishments primari...
5,4,Industry,11112,Oilseed (except soybean) farming,NaN,This industry comprises establishments primari...
7,4,Industry,11113,Dry pea and bean farming,NaN,This industry comprises establishments primari...
9,4,Industry,11114,Wheat farming,NaN,This industry comprises establishments primari...
11,4,Industry,11115,Corn farming,NaN,This industry comprises establishments primari...
13,4,Industry,11116,Rice farming,NaN,This industry comprises establishments primari...
15,4,Industry,11119,Other grain farming,NaN,"This industry comprises establishments, not cl..."

In [9]:
df[(df["Level"] == 5) & (df["Code"].str.startswith("11112"))]

,Level,Hierarchical structure,Code,Class title,Superscript,Class definition
6,5,Canadian industry,111120,Oilseed (except soybean) farming,US,This Canadian industry comprises establishment...

In [10]:
df["Level"].value_counts()

5    922
4    711
3    323
2    102
1     20
Name: Level, dtype: int64

In [11]:
df[df["Level"] == 1]

,Level,Hierarchical structure,Code,Class title,Superscript,Class definition
0,1,Sector,11,"Agriculture, forestry, fishing and hunting",NaN,This sector comprises establishments primarily...
116,1,Sector,21,"Mining, quarrying, and oil and gas extraction",NaN,This sector comprises establishments primarily...
164,1,Sector,22,Utilities,NaN,This sector comprises establishments primarily...
185,1,Sector,23,Construction,NaN,This sector comprises establishments primarily...
256,1,Sector,31-33,Manufacturing,NaN,This sector comprises establishments primarily...
796,1,Sector,41,Wholesale trade,NaN,This sector comprises establishments primarily...
976,1,Sector,44-45,Retail trade,NaN,This sector comprises establishments primarily...
1148,1,Sector,48-49,Transportation and warehousing,NaN,This sector comprises establishments primarily...
1289,1,Sector,51,Information and cultural industries,NaN,This sector comprises establishments primarily...
1365,1,Sector,52,Finance and insurance,NaN,This sector comprises establishments primarily...
1462,1,Sector,53,Real estate and rental and leasing,NaN,This sector comprises establishments primarily...
1515,1,Sector,54,"Professional, scientific and technical services",NaN,This sector comprises establishments primarily...
1602,1,Sector,55,Management of companies and enterprises,NaN,This sector comprises establishments primarily...
1608,1,Sector,56,"Administrative and support, waste management a...",NaN,This sector comprises establishments of two di...
1685,1,Sector,61,Educational services,NaN,This sector comprises establishments primarily...
1718,1,Sector,62,Health care and social assistance,NaN,This sector comprises establishments primarily...
1808,1,Sector,71,"Arts, entertainment and recreation",NaN,This sector comprises establishments primarily...
1878,1,Sector,72,Accommodation and food services,NaN,This sector comprises establishments primarily...
1915,1,Sector,81,Other services (except public administration),NaN,"This sector comprises establishments, not clas..."
2002,1,Sector,91,Public administration,NaN,This sector comprises establishments primarily...

In [12]:
len(df.index)

2078

In [13]:
df['Code'].str.len().sort_values(ascending=False)

2077    6
943     6
926     6
928     6
931     6
933     6
935     6
937     6
941     6
945     6
921     6
948     6
950     6
953     6
955     6
957     6
960     6
963     6
923     6
919     6
967     6
892     6
874     6
876     6
880     6
882     6
884     6
887     6
889     6
896     6
       ..
1163    3
560     3
970     3
1998    3
1841    3
186     3
503     3
165     3
531     3
1290    3
993     3
1279    3
977     3
1462    2
1718    2
185     2
1515    2
1915    2
2002    2
116     2
1878    2
1289    2
1608    2
1808    2
164     2
1365    2
796     2
1685    2
1602    2
0       2
Name: Code, Length: 2078, dtype: int64

In [17]:
for key, x in df[df["Level"] <= 2].iterrows():
    code = x["Code"]
    title = x["Class title"].replace("'", "\'")
    print(f'("{code}", "{code} - {title}",),')

("11", "11 - Agriculture, forestry, fishing and hunting",),
("111", "111 - Crop production",),
("112", "112 - Animal production and aquaculture",),
("113", "113 - Forestry and logging",),
("114", "114 - Fishing, hunting and trapping",),
("115", "115 - Support activities for agriculture and forestry",),
("21", "21 - Mining, quarrying, and oil and gas extraction",),
("211", "211 - Oil and gas extraction",),
("212", "212 - Mining and quarrying (except oil and gas)",),
("213", "213 - Support activities for mining, and oil and gas extraction",),
("22", "22 - Utilities",),
("221", "221 - Utilities",),
("23", "23 - Construction",),
("236", "236 - Construction of buildings",),
("237", "237 - Heavy and civil engineering construction",),
("238", "238 - Specialty trade contractors",),
("31-33", "31-33 - Manufacturing",),
("311", "311 - Food manufacturing",),
("312", "312 - Beverage and tobacco product manufacturing",),
("313", "313 - Textile mills",),
("314", "314 - Textile product mills",),
("315", "315 - Clothing manufacturing",),
("316", "316 - Leather and allied product manufacturing",),
("321", "321 - Wood product manufacturing",),
("322", "322 - Paper manufacturing",),
("323", "323 - Printing and related support activities",),
("324", "324 - Petroleum and coal product manufacturing",),
("325", "325 - Chemical manufacturing",),
("326", "326 - Plastics and rubber products manufacturing",),
("327", "327 - Non-metallic mineral product manufacturing",),
("331", "331 - Primary metal manufacturing",),
("332", "332 - Fabricated metal product manufacturing",),
("333", "333 - Machinery manufacturing",),
("334", "334 - Computer and electronic product manufacturing",),
("335", "335 - Electrical equipment, appliance and component manufacturing",),
("336", "336 - Transportation equipment manufacturing",),
("337", "337 - Furniture and related product manufacturing",),
("339", "339 - Miscellaneous manufacturing",),
("41", "41 - Wholesale trade",),
("411", "411 - Farm product merchant wholesalers",),
("412", "412 - Petroleum and petroleum products merchant wholesalers",),
("413", "413 - Food, beverage and tobacco merchant wholesalers",),
("414", "414 - Personal and household goods merchant wholesalers",),
("415", "415 - Motor vehicle and motor vehicle parts and accessories merchant wholesalers",),
("416", "416 - Building material and supplies merchant wholesalers",),
("417", "417 - Machinery, equipment and supplies merchant wholesalers",),
("418", "418 - Miscellaneous merchant wholesalers",),
("419", "419 - Business-to-business electronic markets, and agents and brokers",),
("44-45", "44-45 - Retail trade",),
("441", "441 - Motor vehicle and parts dealers",),
("442", "442 - Furniture and home furnishings stores",),
("443", "443 - Electronics and appliance stores",),
("444", "444 - Building material and garden equipment and supplies dealers",),
("445", "445 - Food and beverage stores",),
("446", "446 - Health and personal care stores",),
("447", "447 - Gasoline stations",),
("448", "448 - Clothing and clothing accessories stores",),
("451", "451 - Sporting goods, hobby, book and music stores",),
("452", "452 - General merchandise stores",),
("453", "453 - Miscellaneous store retailers",),
("454", "454 - Non-store retailers",),
("48-49", "48-49 - Transportation and warehousing",),
("481", "481 - Air transportation",),
("482", "482 - Rail transportation",),
("483", "483 - Water transportation",),
("484", "484 - Truck transportation",),
("485", "485 - Transit and ground passenger transportation",),
("486", "486 - Pipeline transportation",),
("487", "487 - Scenic and sightseeing transportation",),
("488", "488 - Support activities for transportation",),
("491", "491 - Postal service",),
("492", "492 - Couriers and messengers",),
("493", "493 - Warehousing and storage",),
("51", "51 - Information and cultural industries",),
("511", "511 - Publishing industries (except internet)",),
("512", "512 - Motion picture and sound recording industries",),
("515", "515 - Broadcasting (except internet)",),
("517", "517 - Telecommunications",),
("518", "518 - Data processing, hosting, and related services",),
("519", "519 - Other information services",),
("52", "52 - Finance and insurance",),
("521", "521 - Monetary authorities - central bank",),
("522", "522 - Credit intermediation and related activities",),
("523", "523 - Securities, commodity contracts, and other financial investment and related activities",),
("524", "524 - Insurance carriers and related activities",),
("526", "526 - Funds and other financial vehicles",),
("53", "53 - Real estate and rental and leasing",),
("531", "531 - Real estate",),
("532", "532 - Rental and leasing services",),
("533", "533 - Lessors of non-financial intangible assets (except copyrighted works)",),
("54", "54 - Professional, scientific and technical services",),
("541", "541 - Professional, scientific and technical services",),
("55", "55 - Management of companies and enterprises",),
("551", "551 - Management of companies and enterprises",),
("56", "56 - Administrative and support, waste management and remediation services",),
("561", "561 - Administrative and support services",),
("562", "562 - Waste management and remediation services",),
("61", "61 - Educational services",),
("611", "611 - Educational services",),
("62", "62 - Health care and social assistance",),
("621", "621 - Ambulatory health care services",),
("622", "622 - Hospitals",),
("623", "623 - Nursing and residential care facilities",),
("624", "624 - Social assistance",),
("71", "71 - Arts, entertainment and recreation",),
("711", "711 - Performing arts, spectator sports and related industries",),
("712", "712 - Heritage institutions",),
("713", "713 - Amusement, gambling and recreation industries",),
("72", "72 - Accommodation and food services",),
("721", "721 - Accommodation services",),
("722", "722 - Food services and drinking places",),
("81", "81 - Other services (except public administration)",),
("811", "811 - Repair and maintenance",),
("812", "812 - Personal and laundry services",),
("813", "813 - Religious, grant-making, civic, and professional and similar organizations",),
("814", "814 - Private households",),
("91", "91 - Public administration",),
("911", "911 - Federal government public administration",),
("912", "912 - Provincial and territorial public administration",),
("913", "913 - Local, municipal and regional public administration",),
("914", "914 - Aboriginal public administration",),
("919", "919 - International and other extra-territorial public administration",),

In [19]:
for key, x in df[df["Level"] <= 2].iterrows():
    code = x["Code"]
    title = x["Class title"]
    print(f"{code} - {title}; {code}")

11 - Agriculture, forestry, fishing and hunting; 11
111 - Crop production; 111
112 - Animal production and aquaculture; 112
113 - Forestry and logging; 113
114 - Fishing, hunting and trapping; 114
115 - Support activities for agriculture and forestry; 115
21 - Mining, quarrying, and oil and gas extraction; 21
211 - Oil and gas extraction; 211
212 - Mining and quarrying (except oil and gas); 212
213 - Support activities for mining, and oil and gas extraction; 213
22 - Utilities; 22
221 - Utilities; 221
23 - Construction; 23
236 - Construction of buildings; 236
237 - Heavy and civil engineering construction; 237
238 - Specialty trade contractors; 238
31-33 - Manufacturing; 31-33
311 - Food manufacturing; 311
312 - Beverage and tobacco product manufacturing; 312
313 - Textile mills; 313
314 - Textile product mills; 314
315 - Clothing manufacturing; 315
316 - Leather and allied product manufacturing; 316
321 - Wood product manufacturing; 321
322 - Paper manufacturing; 322
323 - Printing and related support activities; 323
324 - Petroleum and coal product manufacturing; 324
325 - Chemical manufacturing; 325
326 - Plastics and rubber products manufacturing; 326
327 - Non-metallic mineral product manufacturing; 327
331 - Primary metal manufacturing; 331
332 - Fabricated metal product manufacturing; 332
333 - Machinery manufacturing; 333
334 - Computer and electronic product manufacturing; 334
335 - Electrical equipment, appliance and component manufacturing; 335
336 - Transportation equipment manufacturing; 336
337 - Furniture and related product manufacturing; 337
339 - Miscellaneous manufacturing; 339
41 - Wholesale trade; 41
411 - Farm product merchant wholesalers; 411
412 - Petroleum and petroleum products merchant wholesalers; 412
413 - Food, beverage and tobacco merchant wholesalers; 413
414 - Personal and household goods merchant wholesalers; 414
415 - Motor vehicle and motor vehicle parts and accessories merchant wholesalers; 415
416 - Building material and supplies merchant wholesalers; 416
417 - Machinery, equipment and supplies merchant wholesalers; 417
418 - Miscellaneous merchant wholesalers; 418
419 - Business-to-business electronic markets, and agents and brokers; 419
44-45 - Retail trade; 44-45
441 - Motor vehicle and parts dealers; 441
442 - Furniture and home furnishings stores; 442
443 - Electronics and appliance stores; 443
444 - Building material and garden equipment and supplies dealers; 444
445 - Food and beverage stores; 445
446 - Health and personal care stores; 446
447 - Gasoline stations; 447
448 - Clothing and clothing accessories stores; 448
451 - Sporting goods, hobby, book and music stores; 451
452 - General merchandise stores; 452
453 - Miscellaneous store retailers; 453
454 - Non-store retailers; 454
48-49 - Transportation and warehousing; 48-49
481 - Air transportation; 481
482 - Rail transportation; 482
483 - Water transportation; 483
484 - Truck transportation; 484
485 - Transit and ground passenger transportation; 485
486 - Pipeline transportation; 486
487 - Scenic and sightseeing transportation; 487
488 - Support activities for transportation; 488
491 - Postal service; 491
492 - Couriers and messengers; 492
493 - Warehousing and storage; 493
51 - Information and cultural industries; 51
511 - Publishing industries (except internet); 511
512 - Motion picture and sound recording industries; 512
515 - Broadcasting (except internet); 515
517 - Telecommunications; 517
518 - Data processing, hosting, and related services; 518
519 - Other information services; 519
52 - Finance and insurance; 52
521 - Monetary authorities - central bank; 521
522 - Credit intermediation and related activities; 522
523 - Securities, commodity contracts, and other financial investment and related activities; 523
524 - Insurance carriers and related activities; 524
526 - Funds and other financial vehicles; 526
53 - Real estate and rental and leasing; 53
531 - Real estate; 531
532 - Rental and leasing services; 532
533 - Lessors of non-financial intangible assets (except copyrighted works); 533
54 - Professional, scientific and technical services; 54
541 - Professional, scientific and technical services; 541
55 - Management of companies and enterprises; 55
551 - Management of companies and enterprises; 551
56 - Administrative and support, waste management and remediation services; 56
561 - Administrative and support services; 561
562 - Waste management and remediation services; 562
61 - Educational services; 61
611 - Educational services; 611
62 - Health care and social assistance; 62
621 - Ambulatory health care services; 621
622 - Hospitals; 622
623 - Nursing and residential care facilities; 623
624 - Social assistance; 624
71 - Arts, entertainment and recreation; 71
711 - Performing arts, spectator sports and related industries; 711
712 - Heritage institutions; 712
713 - Amusement, gambling and recreation industries; 713
72 - Accommodation and food services; 72
721 - Accommodation services; 721
722 - Food services and drinking places; 722
81 - Other services (except public administration); 81
811 - Repair and maintenance; 811
812 - Personal and laundry services; 812
813 - Religious, grant-making, civic, and professional and similar organizations; 813
814 - Private households; 814
91 - Public administration; 91
911 - Federal government public administration; 911
912 - Provincial and territorial public administration; 912
913 - Local, municipal and regional public administration; 913
914 - Aboriginal public administration; 914
919 - International and other extra-territorial public administration; 919