In [4]:
from zipfile import ZipFile

In [10]:
zip_obj = ZipFile('source/baseballdatabank-master_2018-03-28.zip')
zip_obj.namelist()[:5]

['baseballdatabank-master/',
 'baseballdatabank-master/README.txt',
 'baseballdatabank-master/core/',
 'baseballdatabank-master/core/AllstarFull.csv',
 'baseballdatabank-master/core/Appearances.csv']

In [19]:
with zip_obj.open('baseballdatabank-master/README.txt') as fobj:
    print(fobj.read().decode('utf-8').strip())

Baseball Databank is a compilation of historical baseball data in a
convenient, tidy format, distributed under Open Data terms.

This work is licensed under a Creative Commons Attribution-ShareAlike
3.0 Unported License.  For details see:
http://creativecommons.org/licenses/by-sa/3.0/

Organisation of the files
-------------------------

There are two directories in the repository.

* 'core' contains the databank itself.  If you are a user of the data, these are the
  files you need.
* 'upstream' contains files used to construct the databank.

Most of the data in the Databank is provided by Chadwick Baseball Bureau
(http://www.chadwick-bureau.com).  The data differ from the data the Bureau provides
to its clients in that it contains less detail, is updated less frequently,
and is provided on an as-is basis.


Other sources
-------------

The Databank is historically based in part on the Lahman Baseball Database,
version 2015-01-24, which is Copyright (C) 1996-2015 by Sean Lahman.

The tables Parks.csv and HomeGames.csv are based on the game logs
and park code table published by Retrosheet.
This information is available free of charge from and is copyrighted
by Retrosheet.  Interested parties may contact Retrosheet at
http://www.retrosheet.org.


Queries and suggested revisions
-------------------------------

Queries and suggested revisions to the data can be posted in the issue tracker at
https://github.com/chadwickbureau/baseballdatabank/issues.

Files in 'core' are all generated by scripts.  As such they are not edited manually
(and therefore pull requests should not be submitted against these files).

Files in 'upstream' are manually-maintained files which contain information specific
to constructing the Databank.  As they are maintained manually, it is valid to submit
pull requests containing corrections or additions to these files.

Data which does not originate from the 'upstream' files is data maintained by
Chadwick Baseball Bureau.  While enquiries regarding these data are welcomed,
remember that these data are updated with some lag, and therefore may differ from
data which appear elsewhere on the Internet or other sources.

In [20]:
zip_obj.extractall('source/')

In [23]:
from glob import glob

In [45]:
glob('source/baseballdatabank-master/core/*.csv')

['source/baseballdatabank-master/core/AllstarFull.csv',
 'source/baseballdatabank-master/core/Appearances.csv',
 'source/baseballdatabank-master/core/AwardsManagers.csv',
 'source/baseballdatabank-master/core/AwardsPlayers.csv',
 'source/baseballdatabank-master/core/AwardsShareManagers.csv',
 'source/baseballdatabank-master/core/AwardsSharePlayers.csv',
 'source/baseballdatabank-master/core/Batting.csv',
 'source/baseballdatabank-master/core/BattingPost.csv',
 'source/baseballdatabank-master/core/CollegePlaying.csv',
 'source/baseballdatabank-master/core/Fielding.csv',
 'source/baseballdatabank-master/core/FieldingOF.csv',
 'source/baseballdatabank-master/core/FieldingOFsplit.csv',
 'source/baseballdatabank-master/core/FieldingPost.csv',
 'source/baseballdatabank-master/core/HallOfFame.csv',
 'source/baseballdatabank-master/core/HomeGames.csv',
 'source/baseballdatabank-master/core/Managers.csv',
 'source/baseballdatabank-master/core/ManagersHalf.csv',
 'source/baseballdatabank-master/core/Parks.csv',
 'source/baseballdatabank-master/core/People.csv',
 'source/baseballdatabank-master/core/Pitching.csv',
 'source/baseballdatabank-master/core/PitchingPost.csv',
 'source/baseballdatabank-master/core/Salaries.csv',
 'source/baseballdatabank-master/core/Schools.csv',
 'source/baseballdatabank-master/core/SeriesPost.csv',
 'source/baseballdatabank-master/core/Teams.csv',
 'source/baseballdatabank-master/core/TeamsFranchises.csv',
 'source/baseballdatabank-master/core/TeamsHalf.csv']

In [44]:
import pandas as pd

In [53]:
pd.read_csv('source/baseballdatabank-master/core/TeamsFranchises.csv').head(1)

  franchID             franchName active NAassoc
0      ALT  Altoona Mountain City      N     NaN

In [54]:
pd.read_csv('source/baseballdatabank-master/core/Teams.csv').head(1)

,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,...,DP,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
0,1871,NaN,BS1,BNA,NaN,3,31,NaN,20,10,...,24,0.834,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1

In [55]:
pd.read_csv('source/baseballdatabank-master/core/TeamsHalf.csv').head(1)

   yearID lgID teamID  Half divID DivWin  Rank   G   W   L
0    1981   NL    ATL     1     W      N     4  54  25  29